* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#library-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#book-card {
  /* display: flex; */
  background-color: lightgrey;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  gap: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.button-container {
  display: flex;
  gap: 15px; /* מרווח של 15px בין הכפתורים */
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #c1c5c1;
  color: rgb(255, 255, 255);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  font-weight: bolder;
}

.toggle-read-status {
  background-color: white;
  border: 2px solid rgb(34, 164, 52);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.7rem;
  transition: background 0.3s, transform 0.3s;
}

.toggle-read-status:hover {
  background-color: rgb(34, 164, 52);
  color: white;
}

.remove-book {
  background-color: white;
  color: red;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.7rem;
  transition: background 0.3s, transform 0.3s;
}

.remove-book:hover {
  background-color: red;
  color: white;
}
